*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(bkg.jpg);
    background-position: center;
    background-size: auto 150%;
    background-repeat: no-repeat;

    overflow: hidden;
}

.headerDesktop, .headerMobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: white;

    padding: 80px 100px;
    box-sizing: border-box;

    font-size: 20px;
    font-weight: 100;
   

}

.headerDesktop>a{
    width: 300px;
}

a{

    font-style: italic;
    color: white;
    text-decoration: none;
}

.headerDesktop>div, .headerMobile>div{
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px;

   
}

.headerMobile{
    display: none;
}

.logo{
    width: 600px;
    position: fixed;
    bottom: 10px;
   
}


@media(max-width: 1400px){
    .logo{
        width: 300px;
    }
}

@media(max-width: 470px){


    body{
        background-size: cover;
    }

    .headerDesktop{
        display: none;
    }

    .headerMobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .logo{
        width: 250px;
    }
}